In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv("~/daft.ie_dataengineering_and_analysis/daft.ie_dataengineering_and_analysis/include/data_v1.csv")

In [3]:
df['COUNTY'] = df.Location.apply(lambda x : re.split('[._]', x)[-1])

In [4]:
df[["AGENT_ID", "AGENT_BRANCH", "AGENT_NAME", "AGENT_SELLER_TYPE"]]

,AGENT_ID,AGENT_BRANCH,AGENT_NAME,AGENT_SELLER_TYPE
0,11192,Sherry Fitzgerald Madden,Niamh Madden,BRANDED_AGENT
1,1216,Keary Auctioneering and Insurances,Kenneth Keary,UNBRANDED_AGENT
2,11192,Sherry Fitzgerald Madden,Niamh Madden,BRANDED_AGENT
3,1216,Keary Auctioneering and Insurances,Kenneth Keary,UNBRANDED_AGENT
4,6843,Gary O'Driscoll & Co Ltd,Gary O'Driscoll B.Sc. MIPAV MCEI,UNBRANDED_AGENT
...,...,...,...,...
13927,2908,Kehoe Auctioneers,Eoin Kehoe,BRANDED_AGENT
13928,2534,Sherry FitzGerald McDermott,James McDermott,BRANDED_AGENT
13929,2261,REA Sothern,Harry Sothern,BRANDED_AGENT
13930,10158,Dublin Host Families,Jason Denton,UNBRANDED_AGENT
13931,10158,Dublin Host Families,Jason Denton,UNBRANDED_AGENT

In [5]:
df['COUNTY'].unique()

array(['GALWAY', 'KERRY', 'LIMERICK', 'LONGFORD', 'LAOIS', 'MAYO',
       'SLIGO', 'DUBLIN', 'WEXFORD', 'CORK', 'MONAGHAN', 'LEITRIM',
       'DERRY', 'FERMANAGH', 'WATERFORD', 'OFFALY', 'TIPPERARY',
       'KILDARE', 'ROSCOMMON', 'DONEGAL', 'CLARE', 'DOWN', 'LOUTH',
       'WICKLOW', 'ANTRIM', 'WESTMEATH', 'MEATH', 'CARLOW', 'CAVAN'],
      dtype=object)

In [6]:
df['SaleType'] = df.SearchType.apply(lambda x : x.split('.')[-1])

In [7]:
df['PropertyType'] = df.PropertyType.apply(lambda x : x.split('.')[-1])

In [8]:
pd.set_option('display.max_columns', None)
df.rename(columns={"TITLE": "ADDRESS"}, inplace = True)

In [9]:
df = df[['ID', 'ADDRESS', 'COUNTY', 'SaleType', 'PropertyType', 'BATHROOMS', 'BEDROOMS', 'BER', 'CATEGORY', 'MONTHLY_PRICE', 'PRICE', 'LATITUDE', 'LONGITUDE', 'PUBLISH_DATE', 'AGENT_ID', "AGENT_BRANCH", "AGENT_NAME", "AGENT_SELLER_TYPE"]]

In [10]:
df[["AGENT_ID", "AGENT_BRANCH", "AGENT_NAME", "AGENT_SELLER_TYPE"]]

,AGENT_ID,AGENT_BRANCH,AGENT_NAME,AGENT_SELLER_TYPE
0,11192,Sherry Fitzgerald Madden,Niamh Madden,BRANDED_AGENT
1,1216,Keary Auctioneering and Insurances,Kenneth Keary,UNBRANDED_AGENT
2,11192,Sherry Fitzgerald Madden,Niamh Madden,BRANDED_AGENT
3,1216,Keary Auctioneering and Insurances,Kenneth Keary,UNBRANDED_AGENT
4,6843,Gary O'Driscoll & Co Ltd,Gary O'Driscoll B.Sc. MIPAV MCEI,UNBRANDED_AGENT
...,...,...,...,...
13927,2908,Kehoe Auctioneers,Eoin Kehoe,BRANDED_AGENT
13928,2534,Sherry FitzGerald McDermott,James McDermott,BRANDED_AGENT
13929,2261,REA Sothern,Harry Sothern,BRANDED_AGENT
13930,10158,Dublin Host Families,Jason Denton,UNBRANDED_AGENT
13931,10158,Dublin Host Families,Jason Denton,UNBRANDED_AGENT

df.AGENT_ID

In [17]:
df.dtypes

ID                     int64
ADDRESS               object
COUNTY                object
SaleType              object
PropertyType          object
BATHROOMS             object
BEDROOMS              object
BER                   object
CATEGORY              object
MONTHLY_PRICE         object
PRICE                 object
LATITUDE             float64
LONGITUDE            float64
PUBLISH_DATE          object
AGENT_ID               int64
AGENT_BRANCH          object
AGENT_NAME            object
AGENT_SELLER_TYPE     object
dtype: object

In [21]:
object_columns = df.select_dtypes(include=['object']).columns
df[object_columns] = df[object_columns].str.replace("'", "''")

In [22]:
df.dtypes

ID                     int64
ADDRESS               object
COUNTY                object
SaleType              object
PropertyType          object
BATHROOMS             object
BEDROOMS              object
BER                   object
CATEGORY              object
MONTHLY_PRICE         object
PRICE                 object
LATITUDE             float64
LONGITUDE            float64
PUBLISH_DATE          object
AGENT_ID               int64
AGENT_BRANCH          object
AGENT_NAME            object
AGENT_SELLER_TYPE     object
dtype: object